.users_input{
    padding: 8px;
    outline: none;
    border-radius: 6px;
    border: 1px solid grey;
    width: 100%;
}
.add_user_submit{
    width: 80px;
    padding: 12px 10px;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    background-color: rgb(219, 114, 114);
    color: white;
    margin-top: 6px;
}
.users_form{
    width: 90%;
    padding-left: 40px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.error{
    border: 1px solid red !important;
}