.planner_parts{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.status_todo_head{
    background-color: #00C4FB;
    color: white;
    padding: 10px 57px;
    border-radius: 8px;
}
.status_inprogress_head{
    background-color: #47D1E2;
    color: white;
    padding: 10px 57px;
    border-radius: 8px;
}
.status_review_head{
    background-color: #75D900;
    color: white;
    padding: 10px 57px;
    border-radius: 8px;
}
.status_completed_head{
    background-color: #FFAB00;
    color: white;
    padding: 10px 57px;
    border-radius: 8px;
}
.status_deferred_head{
    background-color: #FF5752;
    color: white;
    padding: 10px 57px;
    border-radius: 8px;
}
.status_body{
    min-height: 80vh;
    border-left: 1px dashed rgb(255, 255, 255);
    padding-left: 7px;
    padding-top: 7px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.status_count{
    color: rgb(253, 245, 245);
}
.task_card{
    background-color: white;
    padding: 15px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
.task_title {
  font-size: 15px;
  font-weight: 600;
  color: #2c3e50;
  margin-bottom: 4px;
}

.task_deadline {
  font-size: 13px;
  color: #888;
}