.sidebar_container{
    width: 15%;
    min-height: 95vh;
    background-color: #e5ecf7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
}
.sidebar_head{
    font-size: 25px;
}
.profile_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile_info p:first-child{
    font-weight: 600;
    font-size: 20px;
}
.profile_info p:nth-child(2){
    color: rgb(109, 108, 108);
}
.profile_photo{
    border: 1px solid rgb(92, 92, 92);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.profilebox{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.logout_btn{
    background-color: #308a60;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 7px;
    border-radius: 6px;
    color: white;
}
.tabWrapper {
  width: 200px;
  padding: 20px;
  border-radius: 10px;
}
.tabBtn {
  padding: 14px 20px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  width: 100%;
  background-color: #f8f5f5;
  color: #334155;
  cursor: pointer;
  text-align: left;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}
.active {
  background-color: #3B82F6;
  color: white;
}
